

.button-row{
  display:flex;
  align-items:center;
  justify-content: space-around;
}

.register-form{
  min-width:150px;
  max-width:500px;
  width:50%;
  display: block;
  margin:0px auto;

}
.input{
  width: 100%;
}


